@font-face { font-family: Helvetica; src: url('../fonts/HELVETICANEUELTPRO-ROMAN.otf'); }
@font-face { font-family: Dinpro-Black; src: url('../fonts/DINPRO-BLACK.OTF'); }
@font-face { font-family: Necroman; src: url('../fonts/necroman.ttf'); }

body {
  margin:0px 0px 0px 0px;
	background-color: #f2f2f2;
	font-family: 'Helvetica';
	}
.container{
  width: 950px;
  height: auto;
  background-color: transparent;
  margin: auto;
  }
.wrap {
  width: 100%;
  height: auto;
  float: center;
  margin: auto;
  }
hr{
  width: 100%;
  float: left;
  margin-top: 30px;
}

nav.navbar {
  width: 100%;
  overflow: hidden;
  background-color: #333333;
  font-family: 'Dinpro-Black';
  height: auto;
  }
nav.navbar a {
  float: left;
  display: block;
  color: #bababa;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s ease;
  }
nav.navbar .nav-right {
  float: right;
  }
nav.navbar .nav-right div{
  width: 20px;
  height: 4px;
  background-color: #ccc;
  margin: 3px 0;
}
nav.navbar a.namalogo{
  color: #cccccc !important;
  padding: none;
  margin-left: 15px;
  float: left;
}
nav.navbar a.namalogo h1{margin-top: 10px;margin-bottom: 0;font-weight:900;}
nav.navbar a.menu {padding: 15px;}
nav.navbar .nav-right a.icon {display: none;}

.word-title{text-align: center;}
.word-title h2{font-size: 70px;font-weight: bolder;margin-bottom: 0;}
.word-title h3{font-size: 25px;text-transform: uppercase;margin-top: 0;}
.container1{
  margin: 15px 0px 15px;
}
.container1 .grid-container {
  margin: 70px 0px 20px;
	display: grid;
	grid-template-columns: auto auto auto;
	}
.container1 .grid-item {
	background-color: transparent;
  margin: 0px 15px 0px;
	}
.container1 .grid-item h3{text-align: center;}
.container1 .grid-item p{font-size: 13px;font-weight: lighter;}
.call-container {
  text-align: justify;
  line-height: 1;
}
.quotes{
  float: left;
  width: 670px;
  height: 150px;
  border: 1px dashed #9f4b21;
  border-width:1px 1px 1px 0px;
}
.quotes blockquote{
  font-size: 21px;
  color: #8b8b8b;
}
.quotes blockquote::before{
  font-family: 'Necroman';
  font-size: 44px;
  content: '"';
}
.quotes cite::before{content: '--- '}
.quotes cite{float:right;margin: 10px 0px;font-size: 16px;}

.btn-con{
  float: right;
  padding: 70px 0;
}
.btn-start{
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  color: white;
  padding: 20px 30px;
  background-color: #d53b3b;
}

.in-container{
  margin-top: 20px;
  float: left;
}
.in-container p{font-size: 13px;}
.in-container h2{font-size: 21px;}
.in-container a{color: #479c6a;text-decoration: none;}

/* Footer */
.footer {
  width: 100%;
  float:left;
}
.footer a{color: #479c6a;text-decoration: none;font-weight: lighter;text-indent: -2em;}
.grid-container {
  margin: 0px 0px 20px;
	display: grid;
	grid-template-columns: auto auto auto auto;
	}
.grid-item {
	background-color: transparent;
  margin: 0px 15px 0px;
	}
h4{text-transform: uppercase;font-size: 14px;}
p{font-size: 13px;}
h1.bot-logo{
  font-size: 27px;
  margin-top: 0;
  padding: 45px 0 0;
  margin-bottom: 0;
  font-family: 'Dinpro-Black';
  font-weight: bold;
}
h2.bot-tagline{
  font-size: 10px;
  font-weight: lighter;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
}

@media screen and (max-width: 576px) {
  .container{width: 100%;}
  .wrap {width: 100%;overflow: hidden;}
  nav.navbar .nav-right a.menu{display: none;}
  nav.navbar .nav-right a.icon{
    padding: 15px 15px 15px 0;
    float: right;
    display: block;
  }
  nav.navbar.responsive .nav-right {position: relative;}
  nav.navbar.responsive .nav-right a.menu {
    float: left;
    display: block;
    text-align: left;
  }
  .container1 .grid-container, .footer .grid-container{
    display: block;
  }
  .call-container .quotes{
    width: 100%;
    height: auto;
  }
  .call-container .btn-con{
    width: 100%;
    text-align: center;
  }
  .in-container{
    margin: 0 15px;
  }
  .footer .grid-container h1.bot-logo{
    padding: 15px 0 0;
  }
}
