body{
    margin: 0px 0px 0px 0px;
    background-color: white;
    font-family: 'Calibri' !important;
    width: 100%;
}
.container{
    width: 950px;
    height: 515px;
    background-color: gray;
    margin: auto;
    color: white !important;
}
.wrap {
    width: 100%;
    height: auto;
    float: center;
    margin: auto;
}

/* Style Header */
.header{
    width: 100%;
    text-align: center;
    background-color: #232b34;
    padding: 10px 0px;
}

.inner{
    display: inline;
}

/* Style Navigasi */
.navigation{
    float: left;
    width: 150px;
    height: 100%;
    border-right: 2px solid #343b3e;
    background-color: #131c21;
}
.navigation .navigation-title{
    text-align: center;
}
.navigation ul {
    width: auto;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
.navigation li a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: inherit;
    transition: .3s ease all;
}
.navigation li a.active{
    background-color: #323739;
}
.navigation li a:hover{
    background-color: #4c5052;
}

/* Style Content */
.content{
    float:right;
    width: 84%;
    height: 100%;
    background-color: #293238;
    color: inherit;
}
.content h3{
    text-align: center;
}
.content p.desc{
    padding: 10px;
    text-align: center;
}
.content .button{
    border: none;
    width: 100px;
    padding: 10px 20px;
    margin: 0px 50px;
    text-transform: uppercase;
    text-decoration: none;
    transition: .5s ease all;
    cursor: pointer;
}
.content .button-yes{
    color: white;
    background-color: #131c21;
    border:1px solid green;
}
.content .button-cancel{
    color: white;
    background-color: #131c21;
    border:1px solid brown;
}
.content .button:hover{
    background-color: #141a1d;
}
.content table{
    margin: 20px 100px 20px;
    text-align: left;
    color:inherit;
    width: 100%;
}
.content input[type=text],input[type=date],input[type=number], textarea{
    width: 50%;
    padding: 5px;
    margin:5px 0px;
    border-radius: 10px;
}

/* Footer Style */
.footer {
    clear: both;
    background-color: #131c21;
    text-align: center;
    padding: 15px 0px;
  }